ipywidgets
ipympl
jupyter
jupytext
jupyter-console
jupyterlab-git
jupyterlab_code_formatter
lckr-jupyterlab-variableinspector
python-dateutil
python-editor
python-oauth2
black
fastprogress
hydra-core
mlflow
wandb
cupy-cuda112
optuna
pyFFTW
japanize-matplotlib
bokeh
plotly
arviz
seaborn
tifffile
ase
pymatgen
nglview
